body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: space-between; /* Раздвигает элементы */
  align-items: center; /* Выравнивает элементы по вертикали */
  background-color: #6e1173;
  color: rgb(0, 0, 0);
  padding: 1rem;
  /*padding: 20px; /* Отступы внутри заголовка */
      border-radius: 15px; /* Скруглённые углы */
      text-shadow: 
        -1px -1px 0 white, /* Верхний левый */
        1px -1px 0 white,  /* Верхний правый */
        -1px 1px 0 white,  /* Нижний левый */
        1px 1px 0 white;   /* Нижний правый */
      font-family: 'Arial Rounded MT Bold', 'Comic Sans MS', sans-serif; /* Скруглённый шрифт */
      /*display: inline-block; /* Чтобы фон обтекал текст */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.word-list-container {
  height: 120px; /* Задайте фиксированную высоту (примерно 5 строк) */
  width: 300px;
  overflow-y: auto; /* Включите вертикальную прокрутку */
  border: 1px solid #eb0671; /* Необязательный стиль для видимой рамки */
  padding: 5px; /* Внутренние отступы */
  background-color: #0387f3; /* Фоновый цвет для улучшения визуального вида */
  border-radius: 5px; /* Закругление углов */
}

.word-list {
  margin: 0;
  padding: 0;
  list-style: none; /* Уберите стандартные маркеры списка */
}

.topbar {
  display: flex;
  justify-content: space-between; /* Раздвигает элементы */
  align-items: center; /* Выравнивает элементы по вертикали */
}

/* Стили для кнопки */
.login-button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}

